<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.afo.ssot_document_drift</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/brnestrm/AFO_Kingdom/scripts/ssot_document_drift.py</string>
        <string>--create-issue</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/brnestrm/AFO_Kingdom</string>

    <key>StartInterval</key>
    <integer>86400</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/brnestrm/AFO_Kingdom/artifacts/run/ssot_document_drift.out</string>

    <key>StandardErrorPath</key>
    <string>/Users/brnestrm/AFO_Kingdom/artifacts/run/ssot_document_drift.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>GH_PATH</key>
        <string>/opt/homebrew/bin/gh</string>
    </dict>
</dict>
</plist>
